.btn-x{
    background-color: grey;
    color: black;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.lightgreen{
    background-color: lightgreen;
}
.purple{
    background-color: purple;
}